<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Comic Helper</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Comic Helper</h1>
		
		<div>
			<form action="#" th:action="@{/}" th:object="${comic}" method="post">
			  <div class="mb-3">
			    <label for="comicTitle" class="form-label">Nom Série</label>
			    <input th:field="*{comicName}" type="text" class="form-control" id="comicTitle" aria-describedby="comicTitle">
			   	<div th:if="${#fields.hasErrors('comicName')}" th:errors="*{comicName}" class="text-danger"></div>
			  </div>
				<div class="mb-3">
					<label for="volumeNumber" class="form-label">N° du volume</label>
					<input th:field="*{comicVolume}" type="number" class="form-control" id="volumeNumber">
					<div th:if="${#fields.hasErrors('comicVolume')}" th:errors="*{comicVolume}" class="text-danger"></div>
				</div>
  
				<button type="submit" class="btn btn-primary">Ajouter</button>
			</form>
		</div>
		<div>
			<h2>Liste de mes BDs</h2>
			<table class="table">
			  <thead>
			    <tr>
			      <th scope="col">Nom Série</th>
			      <th scope="col">Volume</th>
			      
			    </tr>
			  </thead>
			  <tbody>
			    <tr th:each="comic : ${comics}">
			      <th th:text="${comic.comicName}">Nom Série</th>
			      <td th:text="${comic.comicVolume}">Volume</td>
			    </tr>
			  </tbody>
			</table>
		</div>
		
	</div>
</body>
</html>